/* heebo-200 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/heebo-v9-latin-200.woff2") format("woff2");
}

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/heebo-v9-latin-regular.woff2") format("woff2");
}

/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/heebo-v9-latin-600.woff2") format("woff2");
}

/* heebo-800 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/heebo-v9-latin-800.woff2") format("woff2");
}

body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

.intro {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .title {
  font-size: 80px;
  font-weight: 800;
  max-width: 20ch;
  text-align: center;
  margin: 10px;
}

.intro .timeWheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro .timeWheel .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.intro .timeWheel .scroll p {
  margin: 0;
  padding: 15px;
  font-size: 40px;
}

.intro .timeWheel .scroll .active {
  font-weight: 800;
  font-size: 50px;
}

.intro .timeWheel .scroll .pointer {
  cursor: pointer;
}

.intro .button {
  font-size: 80px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}

.intro .button:hover {
  font-size: 81px;
}

.main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .time-remaining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px 0;
}

.main .time-remaining .time-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.main .time-remaining .time-column .title-time {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}

.main .time-remaining .colon {
  font-weight: 800;
  font-size: 60px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.main .time-remaining p {
  font-size: 40px;
  margin: 0;
}

.main .alt-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .alt-time p {
  font-size: 30px;
  margin: 15px;
}
/*# sourceMappingURL=styles.css.map */